/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    color: #333;
}

h1 {
    margin-bottom: 60px;
    font-size: 60px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    width: calc(30% - 22px); /* Justert bredde for full bredde innenfor skjema */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 4px;
    width: 15%; /* Auto width for bedre kontroll på plassering og størrelse */
    place-items: center; /* Sentrerer knappen */
}

button:hover {
    background-color: #0056b3;
}

.loading-container {
    width: 40%; /* Justert bredde for visning ved siden av skjema */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Elementer stablet vertikalt */

    margin-left: 600px;
}

#loadingMessage {
    display: none;
    font-size: 25px;
    color: black; /* Justert for bedre synlighet */
    text-align: left; /* Sentrerer teksten */

}

#stopButton {
    display: none;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px; /* Ekstra margin for å separere fra startknappen */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blå bakgrunn */
    color: white;
    text-decoration: none; /* Fjerner understrek */
    border-radius: 5px; /* Runde hjørner */
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Mørkere blå ved hover */
}



/* Sentral spinner */
.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Sikrer at spinneren ligger over innholdet */
    display: none;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff; /* Blå farge på toppdelen */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Spinner-animasjon */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

